main {
  display: block;
}

body {
  background-color: #3e3e3e;
}

header {
  position: relative;
  display: grid;
  /* height: 100vh; */
}

#splash {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-area: 1/1;
}

/* Centered text */
.centreret {
  align-self: center;
  justify-self: center;
  grid-area: 1/1;
  font-size: 3rem;
  text-shadow: 3px 5px 2px #47474744, 2px 2px 14px #00000063;
}

@media (min-width: 600px) {
  /* Centered text */
  .centreret {
    align-self: center;
    justify-self: center;
    grid-area: 1/1;
    font-size: 6rem;
    text-shadow: 3px 5px 2px #47474744, 2px 2px 14px #00000063;
  }
}

/* Grain background START */
.page-header {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://fixthephoto.com/images/content/film-grain-overlay-texture-41611830312.jpg);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.05;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: -10;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
/* Grain background SLUT */

/* Picture styling START */
img {
  max-width: 100%;
  height: auto;
}
/* Picture styling SLUT */

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

/* Main styles */
main {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 2rem;
  margin-block: 3rem;
}

/* Responsivt layout og skrifttype */
@media (min-width: 1000px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
  }
  h1 {
    font-size: 5rem;
    line-height: 1.25;
    margin-bottom: 0;
    /* padding-top: 10%; */
  }

  #section2 {
    display: block;
    text-align: left;
    margin-left: -0.5vh;
    margin-top: 10%;
  }
  h3 {
    font-size: 2rem;
    line-height: 4.25rem;
    margin-bottom: 1rem;
  }
}

#section2 img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

#galleri {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#section1 {
  background-image: url(medium/portSplash2.png);
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 60%;
  width: 100%;
  /* height: 60vh; */
  margin-top: 5rem;
  margin-bottom: 3rem;
}

#section2 {
  margin-bottom: 10%;
}

video {
  max-width: 100%;
  margin-bottom: 10%;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

#youtube {
  margin-top: 10%;
}

/* Footer START */
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}
#fp1 {
  justify-self: start;
}
#fp2 {
  justify-self: end;
}
footer img {
  margin: 2rem;
  height: 3vw;
  width: auto;
}
.h3_footer {
  margin: 2rem;
  font-size: 1vw;
  text-align: center;
  font-weight: bold;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(102%);
  }
  110% {
    transform: scale(100%);
  }
}
/* Footer SLUT */
