/* SPLASH START */
#splash {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  #splash img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
  }
}
/* SPLASH SLUT */
/* LOGO START */

@media (min-width: 700px) {
  #logo {
    height: 2.5rem;
    width: auto;
  }
  #logo_con {
    display: flex;
    align-items: center;
    height: auto;
    padding-left: 2rem;
  }
}
@media (max-width: 700px) {
  #logo {
    height: 3.5rem;
    width: auto;
  }
  #logo_con {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
  }
}
/* LOGO SLUT */

#header_flex {
  display: flex;
  justify-content: space-between;
}
body {
  background-color: #3e3e3e;
}

/* GRID MOBIL START */
@media (max-width: 700px) {
  #section_1_grid {
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
  }
  h1 {
    grid-column: 1/2;
  }
  #section_1_højre {
    grid-row: 2/3;
  }
  #section_1_venstre {
    grid-row: 3/4;
  }

  #årskort_sh_section {
    display: grid;
  }
  #arrow1 {
    display: none;
  }
  main * {
    padding: 0 1%;
  }
}
/* GRID MOBIL SLUT */

/* GRID WEB START */
@media (min-width: 700px) {
  #section_1_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10%;
  }
  h1 {
    grid-column: 1/2;
  }
  #section_1_højre {
    grid-column: 2/3;
  }
  #section_1_venstre {
    grid-column: 1/2;
  }

  #årskort_sh_section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10%;
    padding-top: 15%;
  }
  #video {
    display: flex;
    justify-content: center;
  }
  #section_lykkehjul {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-evenly;
  }
  #arrow1 {
    display: block;
  }
}
/* GRID WEB SLUT */

/* Picture styling START */
img {
  max-width: 100%;
  height: auto;
}
/* Picture styling SLUT */

/* Video styling START */
video {
  width: 100%;
  height: 100%;
  aspect-ratio: 560/315;
}
/* Video styling SLUT */

/* Button styling START */
button {
  padding: 0.5rem;
  border-radius: 5px;
  transition: 250ms ease-in;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
}

/* Button styling SLUT */

/* Stoppoints til a tags START */
#STOP_1 {
  padding-bottom: 10rem;
}
#STOP_2 {
  padding-bottom: 5rem;
}
/* Stoppoints til a tags SLUT */

/* Arrow og bounce effekt START */
#arrow1 {
  top: 50vw;
  padding: 0;
}

.bounce {
  position: absolute;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(20%);
  }

  110% {
    transform: translateY(0%);
  }
}
/* Arrow og bounce effekt SLUT */

/* Section 1&2 WEB START */
@media (min-width: 700px) {
  #section_1 {
    margin-top: 5%;
    height: 70vh;
  }
  #section_1 * {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #section_1 button {
    margin-top: 5%;
  }

  #section_2 {
    margin-top: 10%;
  }
}
/* Section 1&2 WEB SLUT */

/* Section 1&2 Mobile START */
@media (max-width: 700px) {
  #section_1 {
    margin-top: 5%;
  }
  #section_1 * {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #section_2 {
    margin-top: 30%;
  }
  .bounce {
    top: 85%;
  }
}
/* Section 1&2 Mobile SLUT */

/* Footer START */
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}
#fp1 {
  justify-self: start;
}
#fp2 {
  justify-self: end;
}
footer img {
  margin: 2rem;
  height: 3vw;
  width: auto;
}
.h3_footer {
  margin: 2rem;
  font-size: 1vw;
  text-align: center;
  font-weight: bold;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(102%);
  }
  110% {
    transform: scale(100%);
  }
}
/* Footer SLUT */

/* Lykkehjul START */
.skjult {
  display: none;
}
#email h2 {
  text-align: center;
}
#email {
  display: grid;
  justify-content: center;
  align-content: center;
}

#email_imput * {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  outline: inherit;
}

#section_lykkehjul {
  width: 100%;
}
.lykkehjulet {
  display: flex;
  justify-content: center;
}

#spacer_hjul {
  height: 500px;
  width: 500px;
}
/* Vi har gjort brug af Z-index til at lægge elementerne ovenpå hinanden */
#lykkehjul_skive {
  position: absolute;
  z-index: 3;
  transition: all ease 5s;
}
/* Dette gør at vi kan rotere den ene del, men at de stadigt ligger over hinanden. */
#lykkehjul_pil {
  height: auto;
  height: auto;
  position: absolute;
  z-index: 5;
}
/* Lykkehjul SLUT */

/* Slideshow START */
/* Credits: https://www.foolishdeveloper.com/2021/06/create-image-slider-using-html-css-and.html */
.carousel-container {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 0 auto;
}

.navigation .prev {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 40%;
  left: 10px;
  font-weight: 700;
}
.navigation .next {
  right: 10px;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  top: 40%;
}
.navigation .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #3d4b91;
  color: rgb(255, 255, 255);
  border: none;
  font-family: apparat heavy;
}
.navigation .nav-btn:hover {
  background: rgb(126, 124, 201);
}

.carousel {
  margin-top: 20px;
  transition: all 0.3s ease;
}
.carousel img {
  width: 100%;
  transition: all 0.3s ease;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 103%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.3);
  height: 35px;
}

.item {
  position: absolute;
  display: none;
}

.main {
  display: block;
}

@media (max-width: 700px) {
  .carousel-container {
    width: auto;
    height: 250px;
    position: relative;
    margin: 0 auto;
  }

  #spacer_slideshow {
    display: block;
    height: 4rem;
  }
}

@media (min-width: 700px) {
  #spacer_slideshow {
    display: none;
  }
}
/* Slideshow SLUT */

/* Grain background START */
/* Page-header er et grain overlay vi har lavet for at få lidt bevægelse på siden */
.page-header {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://fixthephoto.com/images/content/film-grain-overlay-texture-41611830312.jpg);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.1;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: -10;
}
/* Her er bevægelserne for vores grain overlay skrevet. */
/* AKA vores keyframe animation */
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
/* Grain background SLUT */

/* Buttons */

button {
  font-size: 16px;
  font-weight: 200;
  padding: 13px 28px 13px;
  margin-top: 30px;
  border: 0;
  background-color: #3d4b91;
  color: white;
  cursor: pointer;
  font-family: apparat heavy;
}

button:hover {
  transition: 1s;
  background-color: #7181d3;
}

input {
  background-color: #5d6691;
  color: rgb(255, 255, 255);
  border: none;
}
