* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Sætter grid på vores main, så vi kan placerer indholdet i midten */
@media (min-width: 600px) {
  main {
    max-width: 960px;
    margin: auto;
  }
}
/* Sætter grid på vores main, så vi kan placerer indholdet i midten */
@media (max-width: 600px) {
  main {
    max-width: 90%;
    margin: auto;
  }
}

/* FONT OG FARVER START */
p {
  line-height: 120%;
}

h2 {
  margin-bottom: 1rem;
}
/* FONT OG FARVER SLUT */

/* Scroll behavior */
html {
  scroll-behavior: smooth;
}
